<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Gallery</title>

</head>
<body>
	<th:block th:insert="Header.html"></th:block>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header text-center text-white bg-primary">
			<H5>Product gallery</H5>
			</div>

			<div class="card-body">
			
			<span th:each = "prod: ${prodList}">
			
			<img class = "m-2"  th:src="@{${prod.image}}" width = "300px" height="300px" >
			</span>
			
			</div>
			

			<div class="card-footer text-center bg-warning">
			copyright@2024
			</div>
		</div>

	</div>
</body>
</html>